@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #0F172A;       /* Slate 900 for neutral contrast */
  --color-primary-dull: #334155;  /* Slate 700 */
}

* {
    font-family: 'Inter', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 #f8fafc;
}

body {
    color: #111827;
    background-color: #f9fafb; /* Lighter cleaner gray */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}